body, html{
  height:100%;
  overflow: hidden;
}
body{
  /*height:90%*/
  margin: 0px;
  background-color:#444;
  background: url('./assets/images/disco.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .lineUpButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}

.dancer{
  position:absolute;
}
.powerRangerDancer, .moonwalk{
  width: 10rem;
  height: 10rem;
  position: relative;
  left: -27px;
  bottom: 65px;
}

.powerRangerDancer {
 position: fixed;
}

.dancerHolder{
  text-align: center;
  overflow: visible;
  width: 5rem;
  height: 5rem;
  position: absolute;
}